<!-- @@master  = layout/main-additional.html-->

<!-- @@block  =  title-->
Ваш код заявления для отслеживания статуса <span class="order-number">0123456887</span>
<!-- @@close-->

<!-- @@block  =  content-->
<div class="step-form step-add-2">

	<p class="info">
		Ваше заявление сохранено и будет обработано ЦО в течении 10 рабочих дней. <br>
		Информация с результатами будет направлена Вам на ty@ty.try и на +993-45-654656. <br>
		Также Вы сможете проверить <a href="#">статус онлайн</a>
	</p>

	<a href="#" class="btn-big-white"><i class="icon-big icon-download"></i> Загрузить</a>

	<a href="#" class="btn-big-white"><i class="icon-big icon-print"></i> Напечатать</a>



</div>

<!-- @@close-->