<!-- @@master  = layout/main-additional.html-->

<!-- @@block  =  title-->
Статус Заявления <span class="order-number">0123456887</span> <br>
на получение (замену) паспорта:
<!-- @@close-->

<!-- @@block  =  content-->
<div class="step-form step-add-3">
	<h2>Информация</h2>

	<div class="form-row">
		<div class="form-row-inline">
			<label class="label label-medium">Статус</label>
			<span class="status-good">0123456887</span>
		</div>

		<div class="form-row-inline">
			<label class="label label-medium">Дата подачи в ЛП </label>
			<span class="status-good">01.12.2015 в 15:00</span>
		</div>
	</div>
	<div class="solid-line"></div>

</div>

<!-- @@close-->