<!-- @@master  = layout/main-additional.html-->

<!-- @@block  =  title-->
Проверить Статус Заявления на получение(замену) паспорта:
<!-- @@close-->

<!-- @@block  =  content-->
<div class="step-form step-add-1">
	<h2>Введите, пожалуйста, код заявления </h2>

	<div class="form-row">
		<div class="form-row-inline">
			<label class="label">Код Заявления</label>
			<input type="text" placeholder="Введите информацию" class="input-text"/>
		</div>
	</div>
	<div class="solid-line"></div>

	<button class="btn-green btn-big">Проверить</button>

</div>

<!-- @@close-->