<!-- @@master  = layout/main.html-->

<!-- @@block  =  title-->
Заявление на получение (замену) паспорта
<!-- @@close-->

<!-- @@block  =  content-->
<div class="step-form step-1">
	<h2>Данные о личности</h2>

	<div class="form-row">
		<label class="label">1. Причина подачи</label>
		<select name="" class="select placeholder error">
			<option value="" disabled selected class="option">Не выбрано</option>
			<option value="2" class="option">Порча</option>
			<option value="3" class="option">Утеря/Кража</option>
			<option value="4" class="option">Другая</option>
		</select>
		<div class="error-tip">
			Поле обязательно для заполнения
		</div>
		<span class="help-tip">?<span class="pop-message">Lorem ipsum dolor sit amet.</span></span>

		<!-- Порча -->
		<div class="conditional-filed-form">

			<div class="form-row-inline">
				<label class="label">Номер старого паспорта</label>
				<input type="text" placeholder="Введите информацию" class="input-text error"/>
				<div class="error-tip">
					Поле обязательно для заполнения
				</div>
				<span class="help-tip">?<span class="pop-message">Lorem ipsum dolor sit amet.</span></span>
			</div>
			<div class="form-row-inline">
				<label class="label">Дата выдачи паспорта</label>
				<input type="text" placeholder="Введите информацию" class="input-text error" />
				<div class="error-tip">
					Поле обязательно для заполнения
				</div>
			</div>

		</div>

		<!-- Утеря/Кража-->
		<div class="condition-field">
			<label class="label">Причина:</label>

			<div class="g-cell not-error-wrap">
				<label class="label radio">
					<input type="radio" name="loose" class="input-radio" />
					<span class="radio-item"></span>
					Утерян или украден на территории Туркменистана
				</label>
				<label class="label radio">
					<input type="radio" name="loose" class="input-radio" />
					<span class="radio-item"></span>
					Утерян или украден за пределами страны
				</label>
			</div>
			<div class="error-tip">
				Поле обязательно для заполнения
			</div>

		</div>

		<!-- Другая -->
		<div class="conditional-filed-form">

			<div class="form-row-inline">
				<label class="label">Укажите причину</label>
				<input type="text" placeholder="Введите информацию" class="input-text error" />
				<div class="error-tip">
					Поле обязательно для заполнения
				</div>
			</div>
			<div class="form-row-inline">
				<label class="label">Номер старого паспорта</label>
				<input type="text" placeholder="Введите информацию" class="input-text"/>
				<span class="help-tip">?<span class="pop-message">Lorem ipsum dolor sit amet.</span></span>
				<div class="error-tip">
					Поле обязательно для заполнения
				</div>
			</div>
			<div class="form-row-inline">
				<label class="label">Дата выдачи паспорта</label>
				<input type="text" placeholder="Введите информацию" class="input-text" />
				<div class="error-tip">
					Поле обязательно для заполнения
				</div>
			</div>

		</div>
	</div>

	<div class="form-row">
		<label class="label">2. Тип заявления</label>
		<select name="" id="" class="select placeholder error">
			<option value="" disabled selected class="option">Не выбрано</option>
			<option value="2" class="option">Amet inventore ipsum officiis voluptatum!</option>
			<option value="3" class="option">Commodi eius facilis fugiat minima.</option>
			<option value="4" class="option">Delectus minima molestiae nostrum sequi.</option>
			<option value="5" class="option">Aliquam enim possimus velit voluptates?</option>
		</select>
		<div class="error-tip">Поле обязательно для заполнения</div>
		<span class="help-tip">?<span class="pop-message">Lorem ipsum dolor sit amet.</span></span>
	</div>

	<div class="dash-line"></div>

	<div class="form-row fio-row">
		<div class="g-push-left">
			<label class="label">3. Персональные данные</label>

			<div class="form-row-inline">
				<label class="label">Фамилия</label>
				<input type="text" placeholder="Введите информацию" class="input-text error"/>
				<div class="error-tip">Поле обязательно для заполнения</div>
				<span class="help-tip">?<span class="pop-message">Lorem ipsum dolor sit amet.</span></span>
			</div>

			<div class="form-row-inline">
				<label class="label">Имя</label>
				<input type="text" placeholder="Введите информацию" class="input-text error" />
				<div class="error-tip">Поле обязательно для заполнения</div>
				<span class="help-tip">?<span class="pop-message">Lorem ipsum dolor sit amet.</span></span>
			</div>

			<div class="form-row-inline">
				<label class="label">Отчество</label>
				<input type="text" placeholder="Введите информацию" class="input-text error" />
				<div class="error-tip">Поле обязательно для заполнения</div>
				<span class="help-tip">?<span class="pop-message">Lorem ipsum dolor sit amet.</span></span>
			</div>

			<div class="form-row-inline">
				<label class="label">Дата рождения</label>
				<input type="text" class="input-text field-date error" placeholder="Введите дату" />
				<div class="error-tip">Поле обязательно для заполнения</div>
			</div>

			<div class="form-row-inline form-row-gender">
				<label class="label">Пол</label>

				<div class="g-cell">

					<label class="label radio">
						<input type="radio" name="gender" class="input-radio" />
						<span class="radio-item"></span>
						<span class="man-icon">Мужской</span>
					</label>
					<label class="label radio">
						<input type="radio" name="gender" class="input-radio" />
						<span class="radio-item"></span>
						<span class="woomen-icon">Женский</span>
					</label>

				</div>
				<div class="error-tip">Поле обязательно для заполнения</div>
			</div>
		</div>


		<div class="g-push-right">
			<div class="form-row person-file-form-row">
				<div class="person-file-wrap">
					<label class="label">
						3. 1. Персональное фото
					</label>
					<span class="help-tip">
						?
						<span class="pop-message">
							Загружаемая фотография должна отвечать требованиям:
							1. Формат файла - JPEG, PNG, BMP.
							2. Минимальный размер прикрепляемого файла - 200 KB.
							3. Максимальный размер прикрепляемого файла - 5 MB.
							4. Фотография должна быть выполнена в 24-битном цветовом пространстве.
							5. Минимальное разрешение прикрепляемой фотографии не должно быть меньше 450 dpi.
						</span>
					</span>

					<div class="g-row error">
						<div class="g-cell person-image-col">
							<div class="img-person blank-person">
								<div class="loader"></div>
							</div>
						</div>
						<div class="g-cell va-top person-lines-col">
							<div class="person-line-1"><span class="hidden-xs">Голова не должна быть выше этой линии</span><span class="visible-xs">1</span></div>
							<div class="person-line-2"><span class="hidden-xs">Глаза должны быть на уровне этой линии</span><span class="visible-xs">2</span></div>
							<div class="person-line-3"><span class="hidden-xs">Плечи должны быть на уровне этой линии</span><span class="visible-xs">3</span></div>
						</div>
						<ol class="visible-xs person-lines-explanation">
							<li class="p-line-1">Голова не должна быть выше этой линии</li>
							<li class="p-line-2">Глаза должны быть на уровне этой линии</li>
							<li class="p-line-3">Плечи должны быть на уровне этой линии</li>
						</ol>
					</div>
					<div class="error-tip">Поле обязательно для заполнения</div>
					<a href="#" class="add-photo btn-green">Загрузить фото</a>
				</div>
			</div>
		</div>
	</div>

	<div class="dash-line"></div>

	<div class="form-row">
		<label class="label">4. Место рождения</label>

		<div class="form-row-inline">
			<label class="label">Страна</label>
			<select name="" id="country" class="select placeholder">
				<option value="" disabled selected class="option">Не выбрано</option>
				<option value="2" class="option">Amet inventore ipsum officiis voluptatum!</option>
				<option value="3" class="option">Commodi eius facilis fugiat minima.</option>
				<option value="4" class="option">Delectus minima molestiae nostrum sequi.</option>
				<option value="5" class="option">Aliquam enim possimus velit voluptates?</option>
			</select>
			<div class="error-tip">Поле обязательно для заполнения</div>
		</div>

		<div class="form-row-inline">
			<label class="label">Область</label>
			<input type="text" placeholder="Введите информацию" class="input-text" />
			<div class="error-tip">Поле обязательно для заполнения</div>
		</div>

		<div class="form-row-inline">
			<label class="label">Район, город</label>
			<input type="text" placeholder="Введите информацию" class="input-text" />
			<div class="error-tip">Поле обязательно для заполнения</div>
		</div>

		<div class="form-row-inline">
			<label class="label">Поселок</label>
			<input type="text" placeholder="Введите информацию" class="input-text" />
			<div class="error-tip">Поле обязательно для заполнения</div>
		</div>

		<div class="form-row-inline">
			<label class="label">Дайханское объединение, село</label>
			<input type="text" placeholder="Введите информацию" class="input-text" />
			<div class="error-tip">Поле обязательно для заполнения</div>
		</div>

	</div>

	<div class="solid-line"></div>

	<button class="btn-gray btn-disable">Назад</button>
	<button class="btn-green">Далее <i class="next-icon"></i></button>

</div>

<!-- @@close-->