<!-- @@master  = layout/main.html-->

<!-- @@block  =  title-->
Заявление на получение (замену) паспорта
<!-- @@close-->

<!-- @@block  =  content-->
<div class="step-form step-4">
	<h2>Дополнительная информация</h2>

	<div class="form-row row-with-another-data">
		<label class="label">12. Анкета вместо Вас заполнена другим лицом?</label>

		<label class="label radio label-no">
			<input type="radio" name="val1" class="input-radio" />
			<span class="radio-item"></span>
			Нет
		</label>

		<div class="wrap-another-data opened">
			<label class="label radio">
				<input type="radio" name="val1" checked class="input-radio" />
				<span class="radio-item"></span>
				Да
			</label>

			<div class="wrap-another-content">

				<div class="form-row-inline row-date-passport">
					<label class="label section-label">Укажите причину заполнения анкеты другим лицом</label>

					<div class="no-inline-label">
						<select name="" class="select placeholder">
							<option value="" disabled selected class="option">Не выбрано</option>
							<option value="2" class="option">Другие</option>
						</select>
					</div>
				</div>

				<div class="form-row-inline">
					<label class="label">Укажите причину</label>
					<input type="text" placeholder="Введите информацию" class="input-text error" />
					<div class="error-tip">Поле обязательно для заполнения</div>
				</div>

				<label class="label">Персональные данные лица, заполневшего заявление</label>

				<div class="form-row-inline">
					<label class="label">Фамилия</label>
					<input type="text" placeholder="Введите информацию" class="input-text error" />
					<div class="error-tip">Поле обязательно для заполнения</div>
				</div>
				<div class="form-row-inline">
					<label class="label">Имя</label>
					<input type="text" placeholder="Введите информацию" class="input-text error" />
					<div class="error-tip">Поле обязательно для заполнения</div>
				</div>
				<div class="form-row-inline">
					<label class="label">Отчество</label>
					<input type="text" placeholder="Введите информацию" class="input-text error" />
					<div class="error-tip">Поле обязательно для заполнения</div>
				</div>


				<div class="form-row-inline row-no-inline-label">
					<label class="label section-label">Место проживания (по месту прописки)</label>
					<div class="no-inline-label">
						<input type="text" placeholder="Введите информацию" class="input-text error" />
						<div class="error-tip">Поле обязательно для заполнения</div>
					</div>
				</div>

				<div class="form-row-inline row-no-inline-label">
					<label class="label section-label">Контактные данные (телефоны, факс, Email)</label>
					<div class="no-inline-label">
						<input type="text" placeholder="Введите информацию" class="input-text error" />
						<div class="error-tip">Поле обязательно для заполнения</div>
					</div>
				</div>

				<div class="form-row-inline row-no-inline-label">
					<label class="label section-label">Родственные связи, отношения</label>
					<div class="no-inline-label">
						<input type="text" placeholder="Введите информацию" class="input-text error" />
						<div class="error-tip">Поле обязательно для заполнения</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="dash-line"></div>

	<div class="wrap-argee">
		<label class="label">
			<input type="checkbox" class="input-checkbox" />

			<div class="agree-text">Я предупрежден, что сообщение ложных сведений<br/>
				в заявлении или представление поддельных документов<br/>
				влечет ответственность, установленную законодательством.
			</div>
		</label>
		<div class="error-tip">Вы не согласились с условиями</div>
	</div>

	<div class="wrap-argee">
		<label class="label error">
			<input type="checkbox" class="input-checkbox"/>

			<div class="agree-text">Я предупрежден, что сообщение ложных сведений<br/>
				в заявлении или представление поддельных документов<br/>
				влечет ответственность, установленную законодательством.
			</div>
		</label>
		<div class="error-tip">Вы не согласились с условиями</div>
	</div>

	<div class="solid-line"></div>

	<button class="btn-gray btn-disable">Назад</button>
	<button class="btn-green">Далее <i class="next-icon"></i></button>

</div>

<!-- @@close-->