<!-- @@master  = layout/main.html-->

<!-- @@block  =  title-->
Заявление на получение (замену) паспорта
<!-- @@close-->

<!-- @@block  =  content-->
<div class="step-form step-2">
	<h2>Проживание, гражданство</h2>

	<div class="form-row">
		<label class="label">
			5. Место проживания (по месту прописки)
		</label>

		<div class="form-row-inline">
			<label class="label">Область</label>
			<select name="" class="select placeholder error">
				<option value="" disabled selected class="option">Не выбрано</option>
				<option value="2" class="option">Amet inventore ipsum officiis voluptatum!</option>
				<option value="3" class="option">Commodi eius facilis fugiat minima.</option>
				<option value="4" class="option">Delectus minima molestiae nostrum sequi.</option>
				<option value="5" class="option">Aliquam enim possimus velit voluptates?</option>
			</select>

			<div class="error-tip">
				Поле обязательно для заполнения
			</div>
		</div>

		<div class="form-row-inline">
			<label class="label">Район, город</label>
			<select name="" class="select placeholder error">
				<option value="" disabled selected class="option">Не выбрано</option>
				<option value="2" class="option">Amet inventore ipsum officiis voluptatum!</option>
				<option value="3" class="option">Commodi eius facilis fugiat minima.</option>
				<option value="4" class="option">Delectus minima molestiae nostrum sequi.</option>
				<option value="5" class="option">Aliquam enim possimus velit voluptates?</option>
			</select>

			<div class="error-tip">
				Поле обязательно для заполнения
			</div>
		</div>

		<div class="form-row-inline">
			<label class="label">Поселок</label>
			<input type="text" placeholder="Введите информацию" class="input-text"/>

			<div class="error-tip">
				Поле обязательно для заполнения
			</div>
		</div>

		<div class="form-row-inline">
			<label class="label">Адрес места проживания</label>
			<input type="text" placeholder="Введите информацию" class="input-text error"/>

			<div class="error-tip">
				Поле обязательно для заполнения
			</div>
			<span class="help-tip">?<span class="pop-message">Lorem ipsum dolor sit amet.</span></span>
		</div>

	</div>

	<div class="dash-line"></div>

	<div class="form-row">
		<label class="label">6. Национальность</label>
		<select name="" class="select placeholder error">
			<option value="" disabled selected class="option">Не выбрано</option>
			<option value="2" class="option">Другое</option>
		</select>

		<div class="error-tip">
			Поле обязательно для заполнения
		</div>

		<div class="conditional-filed-form">

			<div class="form-row-inline">
				<label class="label">Укажите националь-<br>ность</label>
				<input type="text" placeholder="Введите информацию" class="input-text error"/>

				<div class="error-tip">
					Поле обязательно для заполнения
				</div>
			</div>

		</div>
	</div>


	<div class="dash-line"></div>


	<div class="form-row row-with-another-data">
		<label class="label">7.1 Одновременно с гражданством Туркменистана<br/>
			имеется ли гражданство других государств?</label>
		<label class="label radio label-no">
			<input type="radio" name="val1" class="input-radio"/>
			<span class="radio-item"></span>
			Нет
		</label>

		<div class="wrap-another-data opened">
			<label class="label radio">
				<input type="radio" name="val1" checked class="input-radio"/>
				<span class="radio-item"></span>
				Да
			</label>

			<div class="wrap-another-content">

				<div class="form-row-inline">
					<label class="label">Страна</label>
					<select name="" id="country2" class="select placeholder error">
						<option value="" disabled selected>Не выбрано</option>
						<option value="2">Amet inventore ipsum officiis voluptatum!</option>
						<option value="3">Commodi eius facilis fugiat minima.</option>
						<option value="4">Delectus minima molestiae nostrum sequi.</option>
						<option value="5">Aliquam enim possimus velit voluptates?</option>
					</select>
					<div class="error-tip">Поле обязательно для заполнения</div>
				</div>

				<div class="form-row-inline">
					<label class="label">Тип паспорта</label>
					<input type="text" placeholder="Введите информацию" class="input-text"/>
				</div>

				<div class="form-row-inline">
					<label class="label">Номер паспорта</label>
					<input type="text" placeholder="Введите информацию" class="input-text error"/>

					<div class="error-tip">
						Поле обязательно для заполнения
					</div>
				</div>


				<div class="form-row-inline row-date-passport">
					<label class="label">Дата выдачи и окончания срока действия паспорта:</label>

					<div class="no-inline-label too-dates">
						<input type="text" class="input-text field-date-short error" placeholder="ДД / ММ / ГГГГ"/>

						<div class="error-tip">
							Поле обязательно для заполнения
						</div>
						<span class="separator">-</span>
						<input type="text" class="input-text field-date-short error" placeholder="ДД / ММ / ГГГГ"/>

						<div class="error-tip">
							Поле обязательно для заполнения
						</div>
					</div>
				</div>

				<div class="form-row-inline">
					<label class="label">Орган выдавший паспорт </label>
					<input type="text" placeholder="Введите информацию" class="input-text error"/>

					<div class="error-tip">
						Поле обязательно для заполнения
					</div>
					<span class="help-tip">?<span class="pop-message">Lorem ipsum dolor sit amet.</span></span>
				</div>
			</div>
		</div>
	</div>

	<div class="dash-line"></div>

	<div class="form-row">
		<label class="label">7.2 Одновременно с гражданством Туркменистана<br/>
			имеется ли гражданство других государств у родителей?</label>

		<div class="form-row-inline">
			<label class="label">Паспорт родителя</label>
			<select name="" id="" class="select placeholder">
				<option value="" disabled selected class="option">Не выбрано</option>
				<option value="2" class="option">У отца</option>
				<option value="3" class="option">У матери</option>
				<option value="4" class="option">У обоих</option>
			</select>
		</div>

		<div class="wrap-another-data opened">

			<div class="wrap-another-content">

				<div class="form-row-mather">
					<label class="label-heading"> Данные о гражданстве матери</label>

					<div class="form-row-inline">
						<label class="label">Страна</label>
						<select name="" id="country2-mather" class="select placeholder error">
							<option value="" disabled selected class="option">Не выбрано</option>
							<option value="2" class="option">Amet inventore ipsum officiis voluptatum!</option>
							<option value="3" class="option">Commodi eius facilis fugiat minima.</option>
							<option value="4" class="option">Delectus minima molestiae nostrum sequi.</option>
							<option value="5" class="option">Aliquam enim possimus velit voluptates?</option>
						</select>
						<div class="error-tip">Поле обязательно для заполнения</div>
					</div>

					<div class="form-row-inline">
						<label class="label">Паспорт родителя</label>
						<select name="" id=" " class="select placeholder">
							<option value="" disabled selected class="option">Не выбрано</option>
							<option value="2" class="option">Гражданский</option>
							<option value="3" class="option">Заграничный</option>
						</select>
					</div>

					<div class="form-row-inline">
						<label class="label">Номер паспорта</label>
						<input type="text" placeholder="Введите информацию" class="input-text error"/>

						<div class="error-tip">
							Поле обязательно для заполнения
						</div>
					</div>

					<div class="form-row-inline row-date-passport">
						<label class="label">Дата выдачи и окончания срока действия паспорта:</label>

						<div class="no-inline-label too-dates">
							<input type="text" class="input-text field-date-short error" placeholder="ДД / ММ / ГГГГ"/>

							<div class="error-tip">
								Поле обязательно для заполнения
							</div>
							<span class="separator">-</span>
							<input type="text" class="input-text field-date-short error" placeholder="ДД / ММ / ГГГГ"/>

							<div class="error-tip">
								Поле обязательно для заполнения
							</div>
						</div>
					</div>

					<div class="form-row-inline">
						<label class="label">Орган выдавший паспорт</label>
						<input type="text" placeholder="Введите информацию" class="input-text error"/>

						<div class="error-tip">
							Поле обязательно для заполнения
						</div>
						<span class="help-tip">?<span class="pop-message">Lorem ipsum dolor sit amet.</span></span>

					</div>
				</div><!--form-row-mather-->

				<div class="form-row-father">
					<label class="label-heading"> Данные о гражданстве отца</label>

					<div class="form-row-inline">
						<label class="label">Страна</label>
						<select name="" id="country2-father" class="select placeholder error">
							<option value="" disabled selected class="option">Не выбрано</option>
							<option value="2" class="option">Amet inventore ipsum officiis voluptatum!</option>
							<option value="3" class="option">Commodi eius facilis fugiat minima.</option>
							<option value="4" class="option">Delectus minima molestiae nostrum sequi.</option>
							<option value="5" class="option">Aliquam enim possimus velit voluptates?</option>
						</select>
						<div class="error-tip">Поле обязательно для заполнения</div>
					</div>

					<div class="form-row-inline">
						<label class="label">Паспорт родителя</label>
						<select name="" id="" class="select placeholder">
							<option value="" disabled selected class="option">Не выбрано</option>
							<option value="2" class="option">Гражданский</option>
							<option value="3" class="option">Заграничный</option>
						</select>
					</div>

					<div class="form-row-inline">
						<label class="label">Номер паспорта</label>
						<input type="text" placeholder="Введите информацию" class="input-text error"/>

						<div class="error-tip">Поле обязательно для заполнения</div>
					</div>

					<div class="form-row-inline">
						<label class="label">Дата выдачи паспорта</label>
						<input type="text" placeholder="ДД/ММ/ГГГГ" class="input-text error"/>

						<div class="error-tip">Поле обязательно для заполнения</div>
					</div>

					<div class="form-row-inline">
						<label class="label">Орган выдавший паспорт</label>
						<input type="text" placeholder="Введите информацию" class="input-text error"/>
						<div class="error-tip">Поле обязательно для заполнения</div>
						<span class="help-tip">?<span class="pop-message">Lorem ipsum dolor sit amet.</span></span>
					</div>
				</div><!--form-row-father-->
			</div>
		</div>

	</div>


	<div class="dash-line"></div>

	<div class="form-row">
		<label class="label">8. Семейное положение</label>

		<select name="" id="country" class="select placeholder error">
			<option value="" disabled selected class="option">Не выбрано</option>
			<option value="2" class="option">Amet inventore ipsum officiis voluptatum!</option>
			<option value="3" class="option">Commodi eius facilis fugiat minima.</option>
			<option value="4" class="option">Delectus minima molestiae nostrum sequi.</option>
			<option value="5" class="option">Aliquam enim possimus velit voluptates?</option>
		</select>

		<div class="error-tip">
			Поле обязательно для заполнения
		</div>

	</div>

	<div class="form-row">
		<label class="label">9. Отношение к военской службе</label>

		<select name="" id="" class="select placeholder error">
			<option value="" disabled selected class="option">Не выбрано</option>
			<option value="2" class="option">Amet inventore ipsum officiis voluptatum!</option>
			<option value="3" class="option">Commodi eius facilis fugiat minima.</option>
			<option value="4" class="option">Delectus minima molestiae nostrum sequi.</option>
			<option value="5" class="option">Aliquam enim possimus velit voluptates?</option>
		</select>

		<div class="error-tip">
			Поле обязательно для заполнения
		</div>

	</div>


	<div class="solid-line"></div>

	<button class="btn-gray btn-disable">Назад</button>
	<button class="btn-green">Далее <i class="next-icon"></i></button>

</div>

<!-- @@close-->