<!-- @@master  = layout/main.html-->

<!-- @@block  =  title-->
Заявление на получение (замену) паспорта
<!-- @@close-->

<!-- @@block  =  content-->
<div class="step-form step-5">
	<h2>Перечень документов для получения (замены) паспорта</h2>


	<div class="accordion">
		<div class="ac-item complited">
			<a href="#ac1" class="ac-title">
				<div class="ac-title-text">
					1. Паспорт или удостоверение личности гражданина<br/> Туркменистана (3., 4., 5., 6. пункт)
				</div>
			</a>

			<div id="ac1" class="ac-content">
				<div class="description">
					Максимальный размер файла 5Mb. Файлы .png, .jpg
				</div>

				<div class="ac-img-wrap">

					<div class="ac-img-item-wrap">
						<div class="ac-img-item loaded">
							<div class="image-show">
								<div class="image-v-align">
									<a href="/content_img/pass-big.png" class="popup">
										<img src="/content_img/pass-min.png"/>
									</a>
								</div>
							</div>

							<a href="#remove" class="btn-gray btn-small">Удалить</a>
						</div>
						<div class="error-tip error-tip-img">
							Невозможно загрузить файл
						</div>
					</div>

					<div class="ac-img-item-wrap">
						<div class="ac-img-item error">
							<a href="#upload" class="btn-green btn-small">Загрузить</a>
						</div>
						<div class="error-tip error-tip-img">
							Невозможно загрузить файл
						</div>
					</div>


					<div class="ac-img-item-wrap">
						<div class="ac-img-item loaded">
							<div class="image-show">
								<div class="image-v-align">
									<a href="/content_img/pass-big.png" class="popup">
										<img src="/content_img/pass-min2.png"/>
									</a>
								</div>
							</div>
							<a href="#remove" class="btn-gray btn-small">Удалить</a>
						</div>
						<div class="error-tip error-tip-img">
							Невозможно загрузить файл
						</div>
					</div>

					<div class="ac-img-item-wrap">
						<div class="ac-img-item">
							<a href="#remove" class="btn-gray btn-small">Загрузить</a>
						</div>
						<div class="error-tip error-tip-img">
							Невозможно загрузить файл
						</div>
					</div>

					<div class="ac-img-item-wrap">
						<div class="ac-img-item loaded">
							<div class="image-show">
								<div class="image-v-align">
									<a href="/content_img/pass-big.png" class="popup">
										<img src="/content_img/pass-min.png"/>
									</a>
								</div>
							</div>
							<a href="#remove" class="btn-gray btn-small">Удалить</a>
						</div>
						<div class="error-tip error-tip-img">
							Невозможно загрузить файл
						</div>
					</div>

				</div>

				<div class="actions-right">
					<a href="#next" class="btn-green">Далее</a>
				</div>
			</div>
		</div>
		<div class="error-tip error-tip-img">
			Документы обязательны для заполнения
		</div>

		<div class="ac-item opened">
			<a href="#ac2" class="ac-title">
				<div class="ac-title-text">
					1. Паспорт или удостоверение личности гражданина<br/> Туркменистана (3., 4., 5., 6. пункт)
				</div>
			</a>

			<div id="ac2" class="ac-content">
				<div class="description">
					Максимальный размер файла 5Mb. Файлы .png, .jpg
				</div>

				<div class="ac-img-wrap">

					<div class="ac-img-item-wrap">
						<div class="ac-img-item loaded">
							<div class="image-show">
								<div class="image-v-align">
									<a href="/content_img/pass-big.png" class="popup">
										<img src="/content_img/pass-min.png"/>
									</a>
								</div>
							</div>

							<a href="#remove" class="btn-gray btn-small">Удалить</a>
						</div>
						<div class="error-tip error-tip-img">
							Невозможно загрузить файл
						</div>
					</div>

					<div class="ac-img-item-wrap">
						<div class="ac-img-item error">
							<div class="loader"></div>
							<a href="#" class="add-photo btn-green btn-small">Загрузить</a>
						</div>
						<div class="error-tip error-tip-img">
							Невозможно загрузить файл
						</div>
					</div>

					<div class="ac-img-item-wrap">
						<div class="ac-img-item loaded">
							<div class="image-show">
								<div class="image-v-align">
									<a href="/content_img/pass-big.png" class="popup">
										<img src="/content_img/pass-min2.png"/>
									</a>
								</div>
							</div>

							<a href="#remove" class="btn-gray btn-small">Удалить</a>
						</div>
						<div class="error-tip error-tip-img">
							Невозможно загрузить файл
						</div>
					</div>

					<div class="ac-img-item-wrap">
						<div class="ac-img-item">
							<a href="#remove" class="btn-green btn-small">Загрузить</a>
						</div>
						<div class="error-tip error-tip-img">
							Невозможно загрузить файл
						</div>
					</div>

					<div class="ac-img-item-wrap">
						<div class="ac-img-item loaded">
							<div class="image-show">
								<div class="image-v-align">
									<a href="/content_img/pass-big.png" class="popup">
										<img src="/content_img/pass-min.png"/>
									</a>
								</div>
							</div>
							<a href="#remove" class="btn-gray btn-small">Удалить</a>
						</div>
						<div class="error-tip error-tip-img">
							Невозможно загрузить файл
						</div>
					</div>
				</div>

				<div class="actions-right">
					<a href="#next" class="btn-green">Далее</a>
				</div>
			</div>
		</div>
		<div class="error-tip error-tip-img">
			Документы обязательны для заполнения
		</div>

		<div class="ac-item">
			<a href="#ac3" class="ac-title">
				<div class="ac-title-text">
					1. Паспорт или удостоверение личности гражданина<br/> Туркменистана (3., 4., 5., 6. пункт)
				</div>
			</a>

			<div id="ac3" class="ac-content">
				<div class="description">
					Максимальный размер файла 5Mb. Файлы .png, .jpg
				</div>

				<div class="ac-img-wrap">

					<div class="ac-img-item-wrap">
						<div class="ac-img-item loaded">
							<div class="image-show">
								<div class="image-v-align">
									<a href="/content_img/pass-big.png" class="popup">
										<img src="/content_img/pass-min.png"/>
									</a>
								</div>
							</div>

							<a href="#remove" class="btn-gray btn-small">Удалить</a>
						</div>
						<div class="error-tip error-tip-img">
							Невозможно загрузить файл
						</div>
					</div>


					<div class="ac-img-item-wrap">
						<div class="ac-img-item error">
							<a href="#remove" class="btn-green btn-small">Загрузить</a>
						</div>
						<div class="error-tip error-tip-img">
							Невозможно загрузить файл
						</div>
					</div>

					<div class="ac-img-item-wrap">
						<div class="ac-img-item loaded">
							<div class="image-show">
								<div class="image-v-align">
									<a href="/content_img/pass-big.png" class="popup">
										<img src="/content_img/pass-min2.png"/>
									</a>
								</div>
							</div>
							<a href="#remove" class="btn-gray btn-small">Удалить</a>
						</div>
						<div class="error-tip error-tip-img">
							Невозможно загрузить файл
						</div>
					</div>

					<div class="ac-img-item-wrap">
						<div class="ac-img-item">
							<a href="#remove" class="btn-gray btn-small">Удалить</a>
						</div>
						<div class="error-tip error-tip-img">
							Невозможно загрузить файл
						</div>
					</div>

					<div class="ac-img-item-wrap">
						<div class="ac-img-item loaded">
							<div class="image-show">
								<div class="image-v-align">
									<a href="/content_img/pass-big.png" class="popup">
										<img src="/content_img/pass-min.png"/>
									</a>
								</div>
							</div>
							<a href="#remove" class="btn-gray btn-small">Удалить</a>
						</div>
						<div class="error-tip error-tip-img">
							Невозможно загрузить файл
						</div>
					</div>

				</div>


				<div class="actions-right">
					<a href="#next" class="btn-green">Далее</a>
				</div>
			</div>
		</div>
		<div class="error-tip error-tip-img">
			Документы обязательны для заполнения
		</div>

		<div class="ac-item">
			<a href="#ac4" class="ac-title">
				<div class="ac-title-text">
					1. Паспорт или удостоверение личности гражданина<br/> Туркменистана (3., 4., 5., 6. пункт)
				</div>
			</a>

			<div id="ac4" class="ac-content">
				<div class="description">
					Максимальный размер файла 5Mb. Файлы .png, .jpg
				</div>
				<div class="ac-img-wrap">

					<div class="ac-img-item-wrap">
						<div class="ac-img-item loaded">
							<div class="image-show">
								<div class="image-v-align">
									<a href="/content_img/pass-big.png" class="popup">
										<img src="/content_img/pass-min.png"/>
									</a>
								</div>
							</div>

							<a href="#remove" class="btn-gray btn-small">Удалить</a>
						</div>
						<div class="error-tip error-tip-img">
							Невозможно загрузить файл
						</div>
					</div>

					<div class="ac-img-item-wrap">
						<div class="ac-img-item error">
							<a href="#remove" class="btn-green btn-small">Загрузить</a>
						</div>
						<div class="error-tip error-tip-img">
							Невозможно загрузить файл
						</div>
					</div>

					<div class="ac-img-item-wrap">
						<div class="ac-img-item loaded">
							<div class="image-show">
								<div class="image-v-align">
									<a href="/content_img/pass-big.png" class="popup">
										<img src="/content_img/pass-min2.png"/>
									</a>
								</div>
							</div>

							<a href="#remove" class="btn-gray btn-small">Удалить</a>
						</div>
						<div class="error-tip error-tip-img">
							Невозможно загрузить файл
						</div>
					</div>

					<div class="ac-img-item-wrap">
						<div class="ac-img-item">
							<a href="#remove" class="btn-gray btn-small">Удалить</a>
						</div>
						<div class="error-tip error-tip-img">
							Невозможно загрузить файл
						</div>
					</div>

					<div class="ac-img-item-wrap">
						<div class="ac-img-item loaded">
							<div class="image-show">
								<div class="image-v-align">
									<a href="/content_img/pass-big.png" class="popup">
										<img src="/content_img/pass-min.png"/>
									</a>
								</div>
							</div>
							<a href="#remove" class="btn-gray btn-small">Удалить</a>
						</div>
						<div class="error-tip error-tip-img">
							Невозможно загрузить файл
						</div>
					</div>


				</div>


				<div class="actions-right">
					<a href="#next" class="btn-green">Далее</a>
				</div>
			</div>
		</div>
		<div class="error-tip error-tip-img">
			Документы обязательны для заполнения
		</div>

		<div class="ac-item">
			<a href="#ac5" class="ac-title">
				<div class="ac-title-text">
					1. Паспорт или удостоверение личности гражданина<br/> Туркменистана (3., 4., 5., 6. пункт)
				</div>
			</a>

			<div id="ac5" class="ac-content">
				<div class="description">
					Максимальный размер файла 5Mb. Файлы .png, .jpg
				</div>
				<div class="ac-img-wrap">

					<div class="ac-img-item-wrap">
						<div class="ac-img-item loaded">
							<div class="image-show">
								<div class="image-v-align">
									<a href="/content_img/pass-big.png" class="popup">
										<img src="/content_img/pass-min.png"/>
									</a>
								</div>
							</div>
							<a href="#remove" class="btn-gray btn-small">Удалить</a>
						</div>
						<div class="error-tip error-tip-img">
							Невозможно загрузить файл
						</div>
					</div>

					<div class="ac-img-item-wrap">
						<div class="ac-img-item error">
							<a href="#remove" class="btn-green btn-small">Загрузить</a>
						</div>
						<div class="error-tip error-tip-img">
							Невозможно загрузить файл
						</div>
					</div>


					<div class="ac-img-item-wrap">
						<div class="ac-img-item loaded">
							<div class="image-show">
								<div class="image-v-align">
									<a href="/content_img/pass-big.png" class="popup">
										<img src="/content_img/pass-min2.png"/>
									</a>
								</div>
							</div>
							<a href="#remove" class="btn-gray btn-small">Удалить</a>
						</div>
						<div class="error-tip error-tip-img">
							Невозможно загрузить файл
						</div>
					</div>


					<div class="ac-img-item-wrap">
						<div class="ac-img-item">
							<a href="#remove" class="btn-gray btn-small">Удалить</a>
						</div>
						<div class="error-tip error-tip-img">
							Невозможно загрузить файл
						</div>
					</div>

					<div class="ac-img-item-wrap">
						<div class="ac-img-item loaded">
							<div class="image-show">
								<div class="image-v-align">
									<a href="/content_img/pass-big.png" class="popup">
										<img src="/content_img/pass-min.png"/>
									</a>
								</div>
							</div>
							<a href="#remove" class="btn-gray btn-small">Удалить</a>
						</div>
						<div class="error-tip error-tip-img">
							Невозможно загрузить файл
						</div>
					</div>
				</div>

				<div class="actions-right">
					<a href="#next" class="btn-green">Далее</a>
				</div>
			</div>
		</div>
		<div class="error-tip error-tip-img">
			Документы обязательны для заполнения
		</div>

		<div class="ac-item opened error">
			<a href="#ac6" class="ac-title">
				<div class="ac-title-text">
					1. Паспорт или удостоверение личности гражданина<br/> Туркменистана (3., 4., 5., 6. пункт)
				</div>
			</a>

			<div id="ac6" class="ac-content">
				<div class="description">
					Максимальный размер файла 5Mb. Файлы .png, .jpg
				</div>
				<div class="ac-img-wrap">

					<div class="ac-img-item-wrap">
						<div class="ac-img-item loaded">
							<div class="image-show">
								<div class="image-v-align">
									<a href="/content_img/pass-big.png" class="popup">
										<img src="/content_img/pass-min.png"/>
									</a>
								</div>
							</div>

							<a href="#remove" class="btn-gray btn-small">Удалить</a>
						</div>
						<div class="error-tip error-tip-img">
							Невозможно загрузить файл
						</div>
					</div>


					<div class="ac-img-item-wrap">
						<div class="ac-img-item error">
							<a href="#remove" class="btn-green btn-small">Загрузить</a>
						</div>
						<div class="error-tip error-tip-img">
							Невозможно загрузить файл
						</div>
					</div>


					<div class="ac-img-item-wrap">
						<div class="ac-img-item loaded">
							<div class="image-show">
								<div class="image-v-align">
									<a href="/content_img/pass-big.png" class="popup">
										<img src="/content_img/pass-min2.png"/>
									</a>
								</div>
							</div>
							<a href="#remove" class="btn-gray btn-small">Удалить</a>
						</div>
						<div class="error-tip error-tip-img">
							Невозможно загрузить файл
						</div>
					</div>


					<div class="ac-img-item-wrap">
						<div class="ac-img-item">
							<a href="#remove" class="btn-gray btn-small">Удалить</a>
						</div>
						<div class="error-tip error-tip-img">
							Невозможно загрузить файл
						</div>
					</div>


					<div class="ac-img-item-wrap">
						<div class="ac-img-item loaded">
							<div class="image-show">
								<div class="image-v-align">
									<a href="/content_img/pass-big.png" class="popup">
										<img src="/content_img/pass-min.png"/>
									</a>
								</div>
							</div>
							<a href="#remove" class="btn-gray btn-small">Удалить</a>
						</div>
						<div class="error-tip error-tip-img">
							Невозможно загрузить файл
						</div>
					</div>
				</div>


				<div class="actions-right">
					<a href="#next" class="btn-green">Далее</a>
				</div>
			</div>
		</div>
		<div class="error-tip error-tip-docs">
			Документы обязательны для заполнения
		</div>
	</div>



	<div class="accordion accordion-add-docs">
		<div class="add-docs">
			<div class="form-row-inline row-date-passport">
				<label class="label">Необязательные документы</label>
				<select name="" class="select placeholder">
					<option value="" disabled selected class="option">Не выбрано</option>
					<option value="2" class="option">Amet inventore ipsum officiis voluptatum!</option>
					<option value="3" class="option">Commodi eius facilis fugiat minima.</option>
					<option value="4" class="option">Delectus minima molestiae nostrum sequi.</option>
					<option value="5" class="option">Aliquam enim possimus velit voluptates?</option>
				</select>

				<div class="add-docs-btn">
					<a href="#next" class="btn-gray">Добавить</a>
				</div>
			</div>
		</div>
		<div class="ac-item opened">
			<a href="#ac7" class="ac-title">
				<div class="ac-title-text">
					Документы, подтверждающие изменения персональных<br/>
					данных гражданина (1. пункт)
				</div>
			</a>

			<div id="ac7" class="ac-content">
				<div class="description">
					Максимальный размер файла 5Mb. Файлы .png, .jpg
				</div>

				<a href="#" class="ac-delete-doc-btn">X<span class="pop-message">Удалить документ</span></a>

				<div class="ac-img-wrap">

					<div class="ac-img-item-wrap">
						<div class="ac-img-item loaded">
							<div class="image-show">
								<div class="image-v-align">
									<a href="/content_img/pass-big.png" class="popup">
										<img src="/content_img/pass-min.png"/>
									</a>
								</div>
							</div>

							<a href="#remove" class="btn-gray btn-small">Удалить</a>
						</div>
						<div class="error-tip error-tip-img">
							Невозможно загрузить файл
						</div>
					</div>

					<div class="ac-img-item-wrap">
						<div class="ac-img-item error">
							<a href="#remove" class="btn-green btn-small">Загрузить</a>
						</div>
						<div class="error-tip error-tip-img">
							Невозможно загрузить файл
						</div>
					</div>


					<div class="ac-img-item-wrap">
						<div class="ac-img-item loaded">
							<div class="image-show">
								<div class="image-v-align">
									<a href="/content_img/pass-big.png" class="popup">
										<img src="/content_img/pass-min2.png"/>
									</a>
								</div>
							</div>
							<a href="#remove" class="btn-gray btn-small">Удалить</a>
						</div>
						<div class="error-tip error-tip-img">
							Невозможно загрузить файл
						</div>
					</div>

					<div class="ac-img-item-wrap">
						<div class="ac-img-item">
							<a href="#remove" class="btn-gray btn-small">Удалить</a>
						</div>
						<div class="error-tip error-tip-img">
							Невозможно загрузить файл
						</div>
					</div>


					<div class="ac-img-item-wrap">
						<div class="ac-img-item loaded">
							<div class="image-show">
								<div class="image-v-align">
									<a href="/content_img/pass-big.png" class="popup">
										<img src="/content_img/pass-min.png"/>
									</a>
								</div>
							</div>
							<a href="#remove" class="btn-gray btn-small">Удалить</a>
						</div>
						<div class="error-tip error-tip-img">
							Невозможно загрузить файл
						</div>
					</div>

				</div>


				<div class="actions-right">
					<a href="#next" class="btn-green">Далее</a>
				</div>
			</div>
		</div>
		<div class="ac-item">
			<a href="#ac8" class="ac-title">
				<div class="ac-title-text">
					Документы, подтверждающие изменения персональных<br/>
					данных гражданина (1. пункт)
				</div>
			</a>

			<div id="ac8" class="ac-content">
				<div class="description">
					Максимальный размер файла 5Mb. Файлы .png, .jpg
				</div>

				<a href="#" class="ac-delete-doc-btn">X<span class="pop-message">Удалить документ</span></a>

				<div class="ac-img-wrap">

					<div class="ac-img-item-wrap">
						<div class="ac-img-item loaded">
							<div class="image-show">
								<div class="image-v-align">
									<a href="/content_img/pass-big.png" class="popup">
										<img src="/content_img/pass-min.png"/>
									</a>
								</div>
							</div>

							<a href="#remove" class="btn-gray btn-small">Удалить</a>
						</div>
						<div class="error-tip error-tip-img">
							Невозможно загрузить файл
						</div>
					</div>

					<div class="ac-img-item-wrap">
						<div class="ac-img-item error">
							<a href="#remove" class="btn-green btn-small">Загрузить</a>
						</div>
						<div class="error-tip error-tip-img">
							Невозможно загрузить файл
						</div>
					</div>


					<div class="ac-img-item-wrap">
						<div class="ac-img-item loaded">
							<div class="image-show">
								<div class="image-v-align">
									<a href="/content_img/pass-big.png" class="popup">
										<img src="/content_img/pass-min2.png"/>
									</a>
								</div>
							</div>
							<a href="#remove" class="btn-gray btn-small">Удалить</a>
						</div>
						<div class="error-tip error-tip-img">
							Невозможно загрузить файл
						</div>
					</div>

					<div class="ac-img-item-wrap">
						<div class="ac-img-item">
							<a href="#remove" class="btn-gray btn-small">Удалить</a>
						</div>
						<div class="error-tip error-tip-img">
							Невозможно загрузить файл
						</div>
					</div>


					<div class="ac-img-item-wrap">
						<div class="ac-img-item loaded">
							<div class="image-show">
								<div class="image-v-align">
									<a href="/content_img/pass-big.png" class="popup">
										<img src="/content_img/pass-min.png"/>
									</a>
								</div>
							</div>
							<a href="#remove" class="btn-gray btn-small">Удалить</a>
						</div>
						<div class="error-tip error-tip-img">
							Невозможно загрузить файл
						</div>
					</div>

				</div>


				<div class="actions-right">
					<a href="#next" class="btn-green">Далее</a>
				</div>
			</div>
		</div>
	</div>

	<div class="solid-line"></div>

	<button class="btn-gray btn-disable">Назад</button>
	<button class="btn-green btn-big">Сохранить и отправить</button>

</div>

<!-- @@close-->