<!-- @@master  = layout/main.html-->

<!-- @@block  =  title-->
Заявление на получение (замену) паспорта
<!-- @@close-->

<!-- @@block  =  content-->
<div class="step-form step-3">
	<h2>Место работы, учёбы</h2>

	<div class="form-row">
		<label class="label">
			10. Место работы или учёбы, должность.
		</label>

		<div class="form-row-inline row-study-work">
			<label class="label">Название предприятия или учебного заведения:</label>

			<div class="no-inline-label">
				<input type="text" placeholder="Введите информацию" class="input-text" />
				<div class="error-tip">
					Поле обязательно для заполнения
				</div>
				<span class="help-tip">?<span class="pop-message">Lorem ipsum dolor sit amet.</span></span>
			</div>


		</div>

		<div class="form-row-inline">
			<label class="label">Страна</label>
			<select name="" class="select placeholder">
				<option value="" disabled selected class="option">Не выбрано</option>
				<option value="2" class="option">Amet inventore ipsum officiis voluptatum!</option>
				<option value="3" class="option">Commodi eius facilis fugiat minima.</option>
				<option value="4" class="option">Delectus minima molestiae nostrum sequi.</option>
				<option value="5" class="option">Aliquam enim possimus velit voluptates?</option>
			</select>
			<div class="error-tip">
				Поле обязательно для заполнения
			</div>
		</div>

		<div class="form-row-inline">
			<label class="label">Адрес</label>
			<input type="text" placeholder="Введите информацию" class="input-text"/>

			<div class="error-tip">
				Поле обязательно для заполнения
			</div>
			<span class="help-tip">?<span class="pop-message">Lorem ipsum dolor sit amet.</span></span>

		</div>

		<div class="form-row-inline">
			<label class="label">Должность</label>
			<input type="text" placeholder="Введите информацию" class="input-text" />
			<span class="help-tip">?<span class="pop-message">Lorem ipsum dolor sit amet.</span></span>

		</div>
	</div>

	<div class="dash-line"></div>

	<div class="form-row">
		<label class="label">11. Дополнительное сведения (телефон, факс, email)</label>

		<div class="form-row-inline">
			<label class="label">Домашний телефон</label>
			<input type="text" placeholder="Введите информацию" class="input-text" />
		</div>
		<div class="form-row-inline">
			<label class="label">Рабочий телефон</label>
			<input type="text" placeholder="Введите информацию" class="input-text" />
		</div>
		<div class="form-row-inline">
			<label class="label">Мобильный телефон</label>
			<input type="text" placeholder="Введите информацию" class="input-text error" />
			<div class="error-tip">
				Поле обязательно для заполнения
			</div>
			<span class="help-tip">?<span class="pop-message">Lorem ipsum dolor sit amet.</span></span>
		</div>
		<div class="form-row-inline">
			<label class="label">Дополн. мобильные телефоны</label>
			<input type="text" placeholder="Введите информацию" class="input-text" />
		</div>
		<div class="form-row-inline">
			<label class="label">Факс</label>
			<input type="text" placeholder="Введите информацию" class="input-text" />
		</div>
		<div class="form-row-inline">
			<label class="label">Email</label>
			<input type="text" placeholder="Введите информацию" class="input-text error" />
			<div class="error-tip">
				Поле обязательно для заполнения
			</div>
			<span class="help-tip">?<span class="pop-message">Lorem ipsum dolor sit amet.</span></span>

		</div>
	</div>

	<div class="solid-line"></div>

	<button class="btn-gray btn-disable">Назад</button>
	<button class="btn-green">Далее <i class="next-icon"></i></button>

</div>

<!-- @@close-->