<div class="header">
	<div class="logo-block">
		<div class="logo"></div>
		<h2 class="logo-heading">
			<span class="g-cell">
				Сервис онлайн подачи<br> Заявления на получение (замену) заграничного паспорта
			</span>
		</h2>
	</div>
	<div class="menu-block">
		<div class="home-block">
			<a href="#" class="home-anchor">На главную</a>
		</div>
		<div class="langs-block">
			<ul class="langs">
				<li><a href="#" class="ru">RU</a></li>
				<li><a href="#" class="tm active">TM</a></li>
			</ul>
		</div>
		<div class="menu-trigger-block">
			<div class="menu-trigger-wr">
				<a href="#" id="menu-trigger"></a>
			</div>
		</div>
		<div class="blazons-block"></div>
		<div class="menu-wr">
			<ul class="menu-list">
				<li><a href="#" class="menu-anchor home-anchor">На главную</a></li>
				<li><a href="#" class="menu-anchor">Контакты</a></li>
				<li><a href="#" class="menu-anchor">Полезная информация</a></li>
				<li><a href="#" class="menu-anchor">Новости службы</a></li>
				<li><a href="#" class="menu-anchor">Новости</a></li>
			</ul>
			<ul class="info-list">
				<li><a href="#" class="info-anchor for-turkmenistan-citizens">Гражданам<br> Туркменистана</a></li>
				<li><a href="#" class="info-anchor for-foreigners">Иностранным<br> гражданам</a></li>
				<li><a href="#" class="info-anchor legislation">Законодательство</a></li>
			</ul>
		</div>
	</div>
</div>