<!-- @@block  =  left-additional-->

<div class="steps-wrap">
	<h3 class="additional-title">
		Узнать статус
	</h3>

	<div class="step-info">
		<p>
			Что бы отследить статус заявления вам необходимо ввести Код Заявления
		</p>

	</div>


</div>

<!-- @@close-->