<!-- @@block  =  steps-->

<div class="steps-wrap">

	<h3>
		Шаг N
	</h3>

	<div class="step-info">
		<p>
			Вся обработка Ваших персональных данных выполняется в соответствии с действующим законодательством о защите персональных данных.
		</p>

		<p>
			Вам необходимо заполнить все поля формы.
		</p>
	</div>

	<div class="item g-row completed">
		<div class="g-cell"><div class="icon">1</div></div>
		<div class="step-title g-cell">
			Данные о личности
		</div>
	</div>
	<div class="item g-row active">
		<div class="g-cell"><div class="icon">2</div></div>
		<div class="step-title g-cell">
			Проживание, гражданство
		</div>
	</div>
	<div class="item g-row">
		<div class="g-cell"><div class="icon">3</div></div>
		<a href="#" class="step-title g-cell">
			Место работы, учебы
		</a>
	</div>
	<div class="item g-row">
		<div class="g-cell"><div class="icon">4</div></div>
		<a href="#" class="step-title g-cell">
			Дополнительная информация
		</a>
	</div>
	<div class="item g-row">
		<div class="g-cell"><div class="icon">5</div></div>
		<div class="step-title g-cell">
			Необходимые документы
		</div>
	</div>


</div>

<!-- @@close-->