@mixin apply-to($op, $res) {
	@media (#{$op}-width: $res + px) {
		@content;
	}
}

.g-row {
	display: table;
	//table-layout: fixed;
	width: 100%;
}

.g-cell {
	display: table-cell;
	vertical-align: middle;
}


.va-top {
	vertical-align: top;
}

.g-push-left {
	display: table-cell;
	width: 48%;
	@include apply-to(max, 1300) {
		display: block;
		width: 100%;
	}
}

.g-push-right {
	display: table-cell;
	width: 48%;
	@include apply-to(max, 1300) {
		display: block;
		width: 100%;
	}
}
.g-center-pad {
	display: table-cell;
	width: 60px;
	@include apply-to(max, 1200) {
		display: none;
	}
}

.fio-row .g-push-left {
	margin-bottom: 30px;
}
